html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.nav-img {
    width: 90px;
    height: 30px;
}

.nav {
    min-height: 50px;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.1);
}

.exp {
    margin-top: 5%;
}

.exp-img {
    width: 900px;
    height: 400px;
}

.news {
    margin-top: 5%;
    margin-bottom: 5%;
}

.card-body p {
    display: flex;
    align-items: center;
}

.star {
    margin-right: 2px;
}

.circle {
    margin-left: 4px;
    margin-right: 4px;
}

.card {
    border: none;
    box-shadow: 1px 4px 12px rgba(0, 0, 0, 0.3);
    margin-right: 45px;
    margin-bottom: 30px;
}

.card-img {
    height: 350px;
}

.cards-container {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    overflow-x: auto;
}

.card-badge {
    position: absolute;
    top: 6px;
    left: 6px;
    background-color: white;
    padding: 5px 7px;
    border-radius: 2px;
    font-weight: bold;
    opacity: 0.8;
}
